In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
data = pd.read_csv('./105.csv')
data.head()

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
0,9.0,9.0,7.0,9.0,8.0,10.0,NaN,9.0,7.0,10.0,...,8.0,9.0,8.0,7.0,NaN,9.0,7.0,10.0,8.0,NaN
1,6.0,8.0,6.0,7.0,8.0,5.0,NaN,8.0,5.0,7.0,...,6.0,8.0,6.0,6.0,NaN,9.0,7.0,5.0,5.0,NaN
2,7.0,8.0,7.0,5.0,7.0,5.0,NaN,7.0,7.0,10.0,...,8.0,5.0,8.0,6.0,NaN,8.0,8.0,10.0,5.0,NaN
3,5.0,6.0,5.0,7.0,3.0,5.0,NaN,5.0,5.0,7.0,...,6.0,5.0,6.0,5.0,NaN,3.0,5.0,6.0,5.0,NaN
4,5.0,8.0,5.0,7.0,6.0,6.0,NaN,6.0,6.0,5.0,...,5.0,5.0,8.0,5.0,NaN,6.0,7.0,6.0,6.0,NaN

In [16]:
te = TransactionEncoder()
TE_arr = te.fit(data).transform(data)
df = pd.DataFrame(TE_arr, columns=te.columns_)

In [17]:
df

,,1,2,3,4,5,6,:,A,B,...,n,o,p,q,r,s,t,u,x,y
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# TÃ¬m frequent itemsets
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets

    support itemsets
0  0.525253      ( )
1  0.404040      (n)
2  0.404040   (n,  )

In [13]:
# Táº¡o association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(n),( ),0.404040,0.525253,0.40404,1.000000,1.903846,0.191817,inf
1,( ),(n),0.525253,0.404040,0.40404,0.769231,1.903846,0.191817,2.582492

In [14]:
# In káº¿t quáº£ tÃ¬m Ä‘Æ°á»£c
print("Frequent itemsets:\n", frequent_itemsets)
print("\nAssociation rules:\n", rules)

Frequent itemsets:
     support itemsets
0  0.525253      ( )
1  0.404040      (n)
2  0.404040   (n,  )

Association rules:
   antecedents consequents  antecedent support  consequent support  support  \
0         (n)         ( )            0.404040            0.525253  0.40404
1         ( )         (n)            0.525253            0.404040  0.40404

   confidence      lift  leverage  conviction
0    1.000000  1.903846  0.191817         inf
1    0.769231  1.903846  0.191817    2.582492